<div class="menu-page-card">
  <div class="mini-light-controller">
    <div class="section-header">
      <ul>
        <li><%= link_to "Breakfast", menu_path(section: :Breakfast) %></li>
        <li><%= link_to "Lunch", menu_path(section: :Lunch) %></li>
        <li>
          <div><img src="assets/menu_text.png" alt="menu-text"></div>
        </li>
        <li><%= link_to "Dinner", menu_path(section: :Dinner) %></li>
        <li><%= link_to "Drink", menu_path(section: :Drink) %></li>
      </ul>
    </div>

  </div>
</div>