<div class="contact-info">
  <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
  <h1><pre>
    Put your order here:
    CoderSchool Cuisinian
    26 Ly Tu Trong Street
    Ho Chi Minh City
    Phone: 09938558338
  </pre></h1>
  

  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3919.431169747488!2d106.69884721536496!3d10.77825146210598!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752f480a29079d%3A0xb066b8c7dd3118c9!2zMjYgTMO9IFThu7EgVHLhu41uZywgQuG6v24gTmdow6ksIFF14bqtbiAxLCBI4buTIENow60gTWluaCwgVmlldG5hbQ!5e0!3m2!1sen!2s!4v1501868779714" 
  width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
  
</div>

<!-- TODO: HANDLE THE Contact Page with Bootstrap (or other CSS Framework)  -->