@import "color";
@import "font";

* {
  margin: 0px;
  padding: 0px;
}

html, body {
  height:100%;
  
}

body {
  background-image: url("menu_bg.png");
  color: $color-white;
  min-height: 100%;
  
  .light-controller {
    height: 2357px;
    background-color: rgba(62,59,74,0.7);
    position:absolute;
    top:0;
    bottom:-100px;
    left: 0;
    right: 0;
  };
}

header {
  margin-top: 60px;
  .header-logo {
    
    margin-left: 60px;
    float: left;
  };
  
  .menu {
    ul{
      float: right;
      margin-right: 60px;
      li {
        float: left;
        margin-left: 24px;
        list-style-type: none;
        font-size: 28px;
        color: $color-white;
      }
    }
  }
  
}

.order-btn {
  width: 266px;
  height: 96px;
  margin:auto;
  position: absolute;
  bottom: 120px;
  left: 50%;
  padding-right: 50px;
  transform: translateX(-50%);
}

.div-shadow {
  box-shadow: 0px 5px 10px 7px rgba(0, 0, 0, 0.5);
}




