$color-purple: #3E3B4A;
$color_purple-trans: rgba(62,59,74,0.7);
$color_purple_trans_less: rgba(62,59,74,0.6);
$color-white: #ffffff;
$color-red: #D93149;
$color-yellow: #FFE4A8;
$shadow_color: rgba(0, 0, 0, 0.5);
